/* CSSHórus V2.1.0
*  http://csshor.us
*  Last mod: 06/09/2013
*
*  Copyright 2013, João Firmino
*  http://twitter.com/firminoweb
*  https://github.com/firminoweb
*/

/*** RESET Module ***/
/* Basic Resets */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[hidden] {
  display: none;
}

img {
  vertical-align: middle;
}

/* Typography Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

p {
  line-height: 1.28em;
  margin-bottom: 1.42em;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote,
blockquote p {
  font-size: 1.28em;
  font-style: italic;
}

blockquote {
  margin: 0 0 1.42em;
  padding: 0 1.42em;
  border-left: 4px solid;
}

cite {
  font-size: 0.75em;
}

blockquote cite:before {
  content: "\2014 \00A0";
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

address {
  font-size: 0.85em;
}

hr {
  border-top: 1px solid;
  clear: both;
  height: 1px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Embedded Resets */
audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

video {
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

/* Lists Resets */
ul,
ol {
  margin: 0 0 1.42em 0;
}

ul {
  list-style: none inside;
}

ol {
  list-style: decimal inside;
}

.disc {
  list-style-type: disc;
}

.circle {
  list-style-type: circle;
}

li {
  line-height: 1em;
  margin-bottom: 0.7em;
}

ul ul,
ol ol {
  margin: 0.7em 0 0 1.42em;
}

/* Form Resets */
fieldset {
  position: relative;
  padding-top: 0.75em;
  margin-bottom: 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}

/* Table Resets */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 700;
}

/*** GRID Module ***/
/* Grids */
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

[class*="col-"] {
  float: left;
  display: block;
  margin: 0 2% 0 0;
}

[class*="col-"] img {
  max-width: 100%;
  height: auto;
}

[class*="col-"]:last-child {
    margin: 0;
}

.col-1 {
  width: 6.5%;
}

.col-2 {
  width: 15%;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.5%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.5%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74.5%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91.5%;
}

.col-12 {
  width: 100%;
  margin: 0;
}

/* Mobile */
@media screen and (max-width: 768px) {

  [class*="col-"] {
    width: 100%;
  }

  .hidden-mobile {
    display: none;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr,
  caption {
    display: block;
  }

  thead tr {
    display: none;
  }

}

.row {
  margin-bottom: 1.42em;
}

/* Clear and Fixes */
.wrapper:after {
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  content: "";
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix:after,
.row:after {
  font-size: 0;
  clear: both;
}

/*** MISCS Module ***/
/* Aligns & Formats */
.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

img.aligncenter {
  margin: 0 auto 20px;
}

.circle {
  border-radius: 50%;
}

.st:first-letter {
  font-size: 200%;
}

/* Margin and Paddings */
.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m40 {
  margin: 40px;
}

.m10-top {
  margin-top: 10px;
}

.m20-top {
  margin-top: 20px;
}

.m40-top {
  margin-top: 40px;
}

.m10-right {
  margin-right: 10px;
}

.m20-right {
  margin-right: 20px;
}

.m40-right {
  margin-right: 40px;
}

.m10-bottom {
  margin-bottom: 10px;
}

.m20-bottom {
  margin-bottom: 20px;
}

.m40-bottom {
  margin-bottom: 40px;
}

.m10-left {
  margin-left: 10px;
}

.m20-left {
  margin-left: 20px;
}

.m40-left {
  margin-left: 40px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p40 {
  padding: 40px;
}

.p10-top {
  padding-top: 10px;
}

.p20-top {
  padding-top: 20px;
}

.p40-top {
  padding-top: 40px;
}

.p10-right {
  padding-right: 10px;
}

.p20-right {
  padding-right: 20px;
}

.p40-right {
  padding-right: 40px;
}

.p10-bottom {
  padding-bottom: 10px;
}

.p20-bottom {
  padding-bottom: 20px;
}

.p40-bottom {
  padding-bottom: 40px;
}

.p10-left {
  padding-left: 10px;
}

.p20-left {
  padding-left: 20px;
}

.p40-left {
  padding-left: 40px;
}

/* Table */
.table {
  width: 100%;
  margin: 0 0 20px;
}

caption {
  padding: 0.7em;
  background: transparent;
}

.table th,
.table td {
  line-height: 1.28em;
  padding: 0.7em;
  text-align: left;
}

.table td {
  border-top: 1px solid;
}

.cleanline td {
  border-top: 0;
}

.bordered {
  border-width: 1px 0 1px 1px;
  border-style: solid;
}

.bordered th,
.bordered td {
  border-right: 1px solid;
}

.striped tbody tr:nth-child(odd) td,
.striped tbody tr:nth-child(odd) th {
  background: transparent;
}

/* Responsive embedded videos */
.videoWrap {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

.videoWrap iframe,
.videoWrap object,
.videoWrap embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Others */
.hidden {
  display: none !important;
}

.hidden-text {
  font: 0/0 a !important;
}

.clear {
  clear: both;
  display: block;
}

.breadcrumbs li,
.pagination li {
  display: inline-block;
  font-size: 0.85;
}

/*** PRINT Module ***/
/* Print Resets */
@media print {

  * {
    color: #666 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href^="http://"]:after,
  a[href^="https://"]:after {
    content: " (" attr(href) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  @page  {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  li {
    content: "» ";
  }

}