/*** @Grids ***/
/* #1200 grid */
  .wrapper {
	  width:@_WA; 
	  margin:0 auto; 
	  padding:0; 
	  position:relative;
   }
  
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col1_3, .col2_3 {
	  float:left; 
	  display:inline; 
	  margin:0 10px; 
  }
  
  .col1 {
	  .CWC (@_WA, 1);
  }
   
  .col2 {
	  .CWC (@_WA, 2); 
  }
  
  .col3 {
	  .CWC (@_WA, 3); 
  }
  
  .col4 {
	  .CWC (@_WA, 4); 
  }
  
  .col5 {
	  .CWC (@_WA, 5); 
  }
  
  .col6 {
	  .CWC (@_WA, 6); 
  }
  
  .col7 {
	  .CWC (@_WA, 7); 
  }
  
  .col8 {
	  .CWC (@_WA, 8); 
  }
  
  .col9 {
	  .CWC (@_WA, 9);
  }
  
  .col10 {
	  .CWC (@_WA, 10);
  }
  
  .col11 {
	  .CWC (@_WA, 11);
  }
  
  .col12 {
	  .CWC (@_WA, 12);
  }
  
  .col13 {
	  .CWC (@_WA, 13);
  }
  
  .col14 {
	  .CWC (@_WA, 14);
  }
  
  .col15 {
	  .CWC (@_WA, 15); 
  }
  
  .col16 {
	  .CWC (@_WA, 16);
  }
  
  .col1_3 {
	  .3CWC (@_WA, 1); 
  }
  
  .col2_3 {
	  .3CWC (@_WA, 2);
  }
  
  .first {
	  margin-left:0;
  }
  
  .last {
	  margin-right:0;
  }


/* #960 grid */
@media print, screen and (min-width:960px) and (max-width:1199px) {
	
  .wrapper {
	  width:@_WB;
  }
  
  .col1 {
	  .CWC (@_WB, 1); 
  }
  
  .col2 {
	  .CWC (@_WB, 2); 
  }
  
  .col3 {
	  .CWC (@_WB, 3);
  }
  
  .col4 {
	  .CWC (@_WB, 4);
  }
  
  .col5 {
	  .CWC (@_WB, 5);
  }
  
  .col6 {
	  .CWC (@_WB, 6);
  }
  
  .col7 {
	  .CWC (@_WB, 7); 
  }
  
  .col8 {
	  .CWC (@_WB, 8); 
  }
  
  .col9 {
	  .CWC (@_WB, 9); 
  }
  
  .col10 {
	  .CWC (@_WB, 10); 
  }
  
  .col11 {
	  .CWC (@_WB, 11);
  }
  
  .col12 {
	  .CWC (@_WB, 12); 
  }
  
  .col13 {
	  .CWC (@_WB, 13);
  }
  
  .col14 {
	  .CWC (@_WB, 14); 
  }
  
  .col15 {
	  .CWC (@_WB, 15); 
  }
  
  .col16 {
	  .CWC (@_WB, 16);
  }
  
  .col1_3 {
	  .3CWC (@_WB, 1);
  }
  
  .col2_3 {
	  .3CWC (@_WB, 2);
  }

}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
  .wrapper {
	  width:@_WC;
  }
  
  .col1 {
	  .CWC (@_WC, 1);
  }
  
  .col2 {
	  .CWC (@_WC, 2);
  }
  
  .col3 {
	  .CWC (@_WC, 3);
  }
  
  .col4 {
	  .CWC (@_WC, 4);
  }
  
  .col5 {
	  .CWC (@_WC, 5);
  }
  
  .col6 {
	  .CWC (@_WC, 6);
  }
  
  .col7 {
	  .CWC (@_WC, 7);
  }
  
  .col8 {
	  .CWC (@_WC, 8);
  }
  
  .col9 {
	  .CWC (@_WC, 9);
  }
  
  .col10 {
	  .CWC (@_WC, 10);
  }
  
  .col11 {
	  .CWC (@_WC, 11);
  }
  
  .col12 {
	  .CWC (@_WC, 12);
  }
  
  .col13 {
	  .CWC (@_WC, 13);
  }
  
  .col14 {
	  .CWC (@_WC, 14);
  }
  
  .col15 {
	  .CWC (@_WC, 15);
  }
   
  .col16 {
	  .CWC (@_WC, 16);
  }
  
  .col1_3 {
	  .3CWC (@_WC, 1); 
  }
  
  .col2_3 {
	  .3CWC (@_WC, 2);
  }
  
  .first.last {
	  margin:0; 
  }

  .hide-tablet {
	  display:none;
  }

}

/* #Mobile (Landscape) */
@media only screen and (min-width:480px) and (max-width:767px) {

  .wrapper {
	  width:@_WD;
  }
  
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col1_3, .col2_3 {
	  width:@_WD; 
	  margin:0 
  }
  
  .hide-mobile, .hide-tablet {
	  display:none;
  }

}

/* #Mobile (Portrait) */
@media only screen and (max-width:479px) {

  .wrapper {
	  width:@_WE;
  }
  
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col1_3, .col2_3 {
	  width:@_WE;
	  margin:0; 
  }

  .hide-mobile, .hide-tablet {
	  display:none; 
  }

}

.row {
  margin-bottom:20px; 
}

/* #Print Fixes */
@media print {
   
   * {
      color:@black !important;
    background:transparent !important;
      box-shadow:none !important;
      text-shadow:none !important;
   }
    
   @page { margin:0.5cm; }  
   
   p, h2, h3 { orphans:3; widows:3; }
   
   h2, h3 { page-break-after:avoid; }   

   thead { display:table-header-group; }

   tr, img { page-break-inside: avoid; }
  
   img { max-width:100% !important; }
  
}