/*==================================================*/
/* @Miscs */
/*==================================================*/
/* #Clear/Row Fix */
/*--------------------------------------------------*/

.wrapper:after {
	content:""; 
	display:table;  
	height:0; 
	visibility:hidden;
	clear:both
}

.clearfix, .row {
	zoom:1
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
	content:"";	
	display:table;
	width:0;
	height:0;
    visibility:hidden
}

.clearfix:after, .row:after {
	font-size:0;
	clear:both
}

.clear {
	clear:both;
	display:block
}

/* #Image Aligns (wordpress friendly) */
/*---------------------------------------------------*/

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.aligncenter {
	margin:0 auto;
	display: block;
	text-align:center;
}

img.alignleft, figure.alignleft {
	margin:0 20px 20px 0;
}

img.alignright, figure.alignright {
	margin:0 0 20px 20px;
}

img.aligncenter, figure.aligncenter {
	margin:0 auto 20px;
}

/* #Video Wrapper (flexible youtube, vimeo and other videos) */
/*---------------------------------------------------*/

.videoWrap {
    height:0;
	padding-bottom:56.25%;
	padding-top:25px;
	position:relative;
}

.videoWrap iframe, .videoWrap object, .videoWrap embed {
	width:100%;
	height:100%;	
	position:absolute;
	top:0;
	left:0;
}

/* #Others */
/*---------------------------------------------------*/

.margintop {
	margin-top:@baseLineHeight;
}

.marginright {
	margin-right:@baseLineHeight;
}

.marginbottom {
	margin-bottom:@baseLineHeight;
}

.marginleft {
	margin-left:@baseLineHeight;
}

.hidden {
    display:none !important;
}

.hidden-text {
	font:0/0 a !important; 
}