/*---------------------------------------------------
* CSS Horus V1.0.1
* http://csshor.us
* Last mod: 25/11/2012
*
* Copyright 2012, João Firmino
* @firminoweb
---------------------------------------------------*/

/*---------------------------------------------------
    @Website Styles
---------------------------------------------------*/

body {
	
}

/* Test styles */
#grid div > div {
	background:#eee;
	overflow:hidden;
}

#grid p {
	font-size:11px;
	line-height:20px;
	margin:5px;
}

#grid p span {
	color:#666;
}

#innerpad p {
	font-size:14px;
	color:#fff;
	margin:0;
	background:#999
}


/*---------------------------------------------------
    @Styles for Small Desktop sizes (until 1200)
---------------------------------------------------*/

@media only screen and (min-width:960px) and (max-width:1199px) {
	
  /*	
  body {
  
  }	
  */

}

/*---------------------------------------------------
    @Styles for Tablet Portrait
---------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
  /*	
  body {
  
  }	
  */
  
  #grid p.hide-txt-mob {
	  font:0/0 a; 
	  color:transparent;
	  margin-bottom:25px;
  }
	
}

/*---------------------------------------------------
    @Styles for Mobile Landscape
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

  /*	
  body {
  
  }	
  */	
	
}

/*---------------------------------------------------
    @Styles for Mobile Portrait
---------------------------------------------------*/

@media only screen and (max-width: 479px) {
  
  /*	
  body {
  
  }	
  */
  
}

/*---------------------------------------------------
    @Print Styles
---------------------------------------------------*/

@media print {
	
	
}

/*---------------------------------------------------
    @Assets for retina display
---------------------------------------------------*/

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2),  
only screen and (min--moz-device-pixel-ratio: 2),  
only screen and (-o-min-device-pixel-ratio: 2/1),  
only screen and (min-device-pixel-ratio: 2) {
  	
  .logo {
	  background:url(../_img/logo@2x.png);
	  background-size:200px 94px;
  }
  
}
*/

/*---------------------------------------------------
    @Font-Face
---------------------------------------------------*/

 /*
@font-face {
	font-family: 'FontName';
	src: url('FontName.eot'); /IE9 Compat Modes/
	src: url('FontName.eot?iefix') format('eot'), /IE6-IE8/
	     url('FontName.woff') format('woff'), /Modern Browsers/
	     url('FontName.ttf')  format('truetype'), /Safari, Android, iOS/
	     url('FontName.svg#svgFontName') format('svg'); /Legacy iOS/
}
*/

/*---------------------------------------------------
    @Selection
---------------------------------------------------*/

::selection {
	color:#fff;
	background:#333;
}

::-webkit-selection {
	color:#fff;
	background:#333;
}

::-moz-selection {
	color:#fff;
	background:#333;
}