/*** GRID ***/
/* Grids */
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
  display: block;
  margin: 0 2% 2% 0;
}
.col1 img,
.col2 img,
.col3 img,
.col4 img,
.col5 img,
.col6 img,
.col7 img,
.col8 img,
.col9 img,
.col10 img,
.col11 img,
.col12 img {
  max-width: 100%;
  height: auto;
}
.col1 {
  width: 6.5%;
}
.col2 {
  width: 15%;
}
.col3 {
  width: 23.5%;
}
.col4 {
  width: 32%;
}
.col5 {
  width: 40.5%;
}
.col6 {
  width: 49%;
}
.col7 {
  width: 57.5%;
}
.col8 {
  width: 66%;
}
.col9 {
  width: 74.5%;
}
.col10 {
  width: 83%;
}
.col11 {
  width: 91.5%;
}
.col12 {
  width: 100%;
}
.last {
  margin-right: 0;
}
/* Mobile */
@media screen and (max-width: 480px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 100%;
  }
  .hidden-mobile {
    display: none;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr,
  caption {
    display: block;
  }
  thead tr {
    display: none;
  }
}
.row {
  margin-bottom: 1.42em;
}
/* Clear and Fixes */
.wrapper:after {
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix,
.row {
  zoom: 1;
}
.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  content: "";
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clearfix:after,
.row:after {
  font-size: 0;
  clear: both;
}
