/* PRINT **********
*
* CSS Hórus V2.0.0
* http://csshor.us
* Last mod: 03/08/2013
*
* Copyright 2013, João Firmino
* http://twitter.com/firminoweb
* https://github.com/firminoweb
*
*/
/* Print Resets */
@media print {
  * {
    color: #666 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a[href^="http://"]:after,
  a[href^="https://"]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  li {
    content: "» ";
  }
}
