/* RESET **********
*
* CSS Hórus V2.0.0
* http://csshor.us
* Last mod: 03/08/2013
*
* Copyright 2013, João Firmino
* http://twitter.com/firminoweb
* https://github.com/firminoweb
*
*/
/* Basic Resets */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[hidden] {
  display: none;
}
img {
  vertical-align: middle;
}
/* Typography Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}
p {
  line-height: 1.28em;
  margin-bottom: 1.42em;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote,
blockquote p {
  font-size: 1.28em;
  font-style: italic;
}
blockquote {
  margin: 0 0 1.42em;
  padding: 0 1.42em;
  border-left: 4px solid;
}
cite {
  font-size: 0.75em;
}
blockquote cite:before {
  content: "\2014 \00A0";
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
address {
  font-size: 0.85em;
}
hr {
  border-top: 1px solid;
  clear: both;
  height: 1px;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Embedded Resets */
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
video {
  width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
/* Lists Resets */
ul,
ol {
  margin: 0 0 1.42em 0;
}
ul {
  list-style: none inside;
}
ol {
  list-style: decimal inside;
}
.disc {
  list-style-type: disc;
}
.circle {
  list-style-type: circle;
}
li {
  line-height: 1em;
  margin-bottom: 0.7em;
}
ul ul,
ol ol {
  margin: 0.7em 0 0 1.42em;
}
/* Form Resets */
fieldset {
  position: relative;
  padding-top: 0.75em;
  margin-bottom: 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}
/* Table Resets */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: 700;
}
